*{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
body{
    background:url('files/black-background.gif');
    background-size: 100%;
}

button{
    background-color: white;
    color: #111;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: bolder;
    transition: 0.5s;
}

button:hover{
    background-color: #111;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    font-weight: bolder;
    transition: 0.5s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #111;
    transition: .5s;
}
a:hover{
    text-decoration: none;
    color: white;
    transition: .5s;
}
.container{
    position: absolute;
    height: 100%;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #111;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid whitesmoke;
    overflow:scroll;
}
.container h1{
    font-size: 40px;
}
.container p{
    text-align: justify;
    gap: 1.5px;
}
.container::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
.container::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  
.container::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #111;  /* creates padding around scroll thumb */
  }

.correct-answer{
    display: none;
    padding: 15px;
}
.reveal{
    background-color: #111;
    color: white;
}
.container input{
    border: 2px solid white;
    border-radius: 30px;
    padding: 20px;
    font-size: large;
    color: white;
    background-color: #111;
}

